{% extends "../base.html" %}
{% block title %}Lista de propietarios{% endblock title %}

{% block content %}
	<div class="grid">
		{% include 'taxiTec/header.html' %}	
		{% if user.userprofile.user_type == 'PR' %}
			{% include 'taxiTec/menu-PR.html' %}
		{% else %}
			{% include 'taxiTec/menu-AM.html' %}			
		{% endif %}
		<main class="main">
			<h1 class="title__normal">Lista de propietarios</h1>
			<section class="container-table">
				<table class="table">
					<tr>
						<th>Foto</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Edad</th>
						<th>Telefono</th>
						<th>Acciones</th>
					</tr>
					{% for x in object_list  %}
						<tr>
							<td><img src="{{x.getImage}}" alt="" class="table__img"></td>
							<td>{{x}}</td>
							<td>{{x.getLastName}}</td>
							<td>{{x.getAge}}</td>
							<td>{{x.getNumber}}</td>
							<td>
								
								<a href="{% url 'taxitec:updatePR_AM' x.getUserProfilePK %}" class="button"><i class="icon-edit"></i>Editar</a>
								<a href="{% url 'taxitec:delete' x.getUserPK %}" class="button button--delete"><i class="icon-bin"></i>Eliminar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</section>

			<div class="container container--add">
				<a href="{% url 'taxitec:registrarPR' %}" class="button button--add"><i class="icon-user-plus"></i>Agregar un propietario </a>
			</div>
		</main>
		{% include 'taxiTec/footer.html' %}
	</div>
{% endblock content %}