<aside class="aside">
			<div class="aside__profile">
				<img src="{{user.userprofile.getImage}}" class="aside__img">
				<p>{{user.first_name}}</p>
			</div>
			<nav class="aside__menu">
				<li class="menu__li"><a href="{% url 'taxitec:homePR' %}"><i class="icon icon-home"></i>INICIO</a></li>
				<li class="menu__li"><a href="{% url 'taxitec:PR-CH' %}"><i class="icon icon-user"></i>CHOFERES</a></li>
				<li class="menu__li"><a href="{% url 'taxitec:PR-VH' %}"><i class="icon icon-car"></i>VEHICULOS</a></li>
				<li class="menu__li"><a href="{% url 'taxitec:PR-IN' %}"><i class="icon icon-trophy"></i>INGRESOS</a></li>
				<!-- <li class="menu__li"><a href="{% url 'taxitec:PR-IN' %}"><i class="icon icon-stats-dots"></i>EGRESOS</a></li> -->
				<li class="menu__li"><a href="{% url 'taxitec:logout' %}"><i class="icon icon-enter"></i>CERRAR SESIÓN</a></li>
			</nav>
		</aside>