{% extends '../base.html' %}
{% block title %}
	registrar
{% endblock title %}

{% block content %}
	{% if user.userprofile.user_type == 'PR' %}
		<a href="{% url 'taxitec:homePR' %}">Volver..</a>
	{% else %}
		<a href="{% url 'taxitec:homeAM' %}">Volver..</a>
	{% endif %}
	<h1 class="title__normal">Agregar un nuevo chofer</h1>
	<form method="POST" enctype="multipart/form-data" class="form-login">
		{% csrf_token %}
		{{form.user}}
		{{form.profile}}
		{{form.driver}}
		<button type="submit" class="form__submit">Guardar</button>
	</form>
{% endblock content %}
