@import 'variables';


.grid-index{
	display:grid;
	height: 100vh;
	grid-template-columns:1fr;
	grid-template-rows:5em 1fr;
}




.form-container{
	display:flex;
	flex-direction: column; 
	grid-row:2;
	background: darken(#fff,1);
}

.form-login{
	background: $bg-color;
	box-shadow:0px 0px 5px 0px rgba(#000,0.2);
	margin: auto;
	padding: 2em;
	width:350px;
	border-radius: 5px;
}
.form-login--delete{
	width:50%;
}

.form__img{
	display:flex;
	flex-direction:column;
	align-items:center;
	img{border-radius:50%; height:10em; width:10em;}

	margin-bottom:2em;
}

.footer{
	background: darken($p-color,5);
	color:#fff;
	display:flex;
	justify-content: center;
}

.form__input, .form__submit,.form__submit--del{
	display: block;
	padding:10px;
	width:100%;
	border:none;
}

.form__input{
	border-radius:5px;
	margin-bottom:1em;
	font-size: 1.1em;
	
	border:2px solid #ddd;
	&:focus{
		outline: none;
		box-shadow:0px 0 0px 1px $p-color;
	}
}

.form__submit--del{
	background: #f44236;
	color:#fff;
	width:auto;
	text-align:center;
	margin:0;
	padding:0.5em;
	font-size:0.9em;
	border-radius:5px;

	i{
		margin-right: 2px;
	}
}




.form__submit{

	margin:auto;
	background: $p-color;
	font-size: 1.2em;
	color:#fff;
	border-radius:5px;
	text-align:center;
	&:hover{
		background: darken($p-color,5);
	}
	&:active{
		transform: scale(0.95);
	}



}

.form__submit--50{
	margin-top:1em;
	width:50%;
}

.form__submit--cancelar{
	background: #f44236;
	&:hover{
		background: darken(#f44236,2);
	}
}

