//@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');
@import 'variables';
@import 'forms';
@import 'home';
@import 'menu';
@import 'header';
@import 'tables';

.icon-heart{
	color:rgba(red,0.6);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	
}
a{text-decoration:none; color:lighten(blue,15);}
.text--error{color:red;}


// .index-form{
// 	display: flex;
// 	flex-direction: column;
// 	background: red;
// 	min-height: 100vh;
// }

body{
	background: $bg-color;
	min-height: 100vh;
}

.container{
	width:95%;
	margin:1em auto;
}

.container--update{
	h1{text-align:center; margin-bottom:1em;}
}




input,img{
	display:block;
}



.button{
	color:#fff;
	text-decoration:none;
	padding:5px;
	background: $a-color;
	border-radius: 0.3em;

	i{
		margin-right: 5px;
	}
}

.button--add{
	background: $p-color;
}

.button--delete{background: #f44236;}

.text--light{
	font-size: 0.9em;
	font-weight: lighter;
}


.p--income{
	font-size:1.5em;
}

#income{color:$p-color;}