$p-color:#2ba84a;
$pd-color:#248232;
$t-color:#555658;
$a-color:#2d3a4a;
$bg-color:#fcfffc;

$c-color:#edf2f6;

$tt-color:#6e7788;

$m-color:#354052;
$md-color:#2b3443;
$mt-color:#aab2bd;

//TEXT
$title:'Orbitron';
$text:'Roboto';