<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Home{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'sass/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'sass/css/icon.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</head>
	

<body>
	{% block content %}	

	{% endblock content %}
	

</body>

</html>